<h2>Current Flavors :</h2>
<div class='page-header'>
  <div class="pull-left">
  </div>
  <p>
<%= button_to "Add New Flavor", new_flavor_path, class: "button", method: "get" %>
</p>
</div>
<table border='1'>
  <thead>
    <tr>
      <th> <%= "" %>  </th>
      <th>Flavor</th>
      <th>Allergen(s)</th>
      <th>Non Dairy?</th>
    </tr>
  </thead>

    <tbody>
      <% @flavors.each do |flavor| %>
      <tr>
        <td>
          <img src="<%= flavor.url %>">
        </td>
        <td>
          <%= link_to flavor.name, flavor_path(flavor) %>
        </td>
        <td>
          <%= flavor.allergen %>
        </td>
        <td>
          <%= flavor.non_dairy %>
        </td>

      </tr>
      <% end %>
    </tbody>
</table>
