<h1>Current Flavors :</h1>
<div class='page-header'>
  <div class="pull-left">
  </div>
  <p>
<%= button_to "Add New Flavor", new_flavor_path, class: "button", method: "get" %>
</p>
</div>
<table>
  <thead>
    <tr>
      <th> <%= "" %>  </th>
      <th>Flavor</th>
      <th>Allergen(s)</th>
      <th>Non Dairy?</th>
    </tr>
  </thead>

    <tbody>
      <% @flavors.each do |flavor| %>
      <tr>
        <td>
        <%= flavor.url %>
        </td>
        <td>
          <%= link_to flavor.name, flavor_path(flavor) %>
        </td>
        <td>
          <%= flavor.allergen %>
        </td>
        <td>
          <%= flavor.non_dairy %>
        </td>
        <td>
          <%= link_to 'Edit', edit_flavor_path(flavor), class: "btn btn-info" %>
        </td>
        <td>
          <%= link_to 'Delete', flavor, method: :delete, data: { confirm: 'Are you sure?' } %>

        </td>
      </tr>
      <% end %>
    </tbody>
</table>
