<h2>Current Flavors :</h2>
<div class='page-header'>
  <div class="pull-left">
  </div>
  <p>
<%= button_to "Add New Flavor", new_flavor_path, class: "button", method: "get" %>
</p>
</div>

      <ul class="grid cs-style-1">
        <% @flavors.each do |flavor| %>
          <li>
            <h3><%= flavor.name %></h3>

            <figure>
            <img src="<%= flavor.url %>">
            <figcaption>
              <h3>Flavor:</h3>
              <span> <%= flavor.name %> </span>

              <p> <%= link_to "View Flavor", flavor_path(flavor) %> > </p>

            </figcaption>
          </figure>
        </li>
        <% end %>
