<div class='pull-left'>
<h2>Add New Flavor:</h2>
</div>
<%= form_for Flavor.new do |f| %>
<p>

<%= f.label :url %>
<%= f.text_field :url %>
</p>
<p>
<%= f.label :name %>
<%= f.text_field :name %>
</p>
<p>
<%= f.label :allergen %>
<%= f.text_field :allergen %>
</p>
<p>
<%= f.label :non_dairy %>
<%= f.check_box :non_dairy %>
</p>
<p>
<%= f.label :ingredients %>
<%= f.text_area :ingredients %>
</p>
<p>
<%= f.label :calories %>
<%= f.text_field :calories %>
</p>
<p>
<%= f.label :calories_from_fat %>
<%= f.text_field :calories_from_fat %>
</p>
<p>
<%= f.label :total_fat %>
<%= f.text_field :total_fat %>
</p>
<p>
<%= f.label :total_fat %>
<%= f.text_field :total_fat %>
</p>
<p>
<%= f.label :saturated_fat %>
<%= f.text_field :saturated_fat %>
</p>
<p>
<%= f.label :trans_fat %>
<%= f.text_field :trans_fat %>
</p>
<p>
<%= f.label :cholesterol %>
<%= f.text_field :cholesterol %>
</p>
<p>
<%= f.label :sodium %>
<%= f.text_field :sodium %>
</p>
<p>
<%= f.label :total_carbohydrate %>
<%= f.text_field :total_carbohydrate %>
</p>
<p>
<%= f.label :dietary_fiber %>
<%= f.text_field :dietary_fiber %>
</p>
<p>
<%= f.label :sugar %>
<%= f.text_field :sugar %>
</p>
<p>
<%= f.label :sugar_alcohols %>
<%= f.text_field :sugar_alcohols %>
</p>
<p>
<%= f.label :protein %>
<%= f.text_field :protein %>
</p>
<p>
<%= f.label :vitamin_a %>
<%= f.text_field :vitamin_a %>
</p>
<p>
<%= f.label :vitamin_c %>
<%= f.text_field :vitamin_c %>
</p>
<p>
<%= f.label :calcium %>
<%= f.text_field :calcium %>
</p>
<p>
<%= f.label :iron %>
<%= f.text_field :iron %>
</p>
<p>
<%= f.submit %>
</p>
<% end %>
