<%= form_for @email do |f| %>

<h3>Sign up for deals and upcoming events at Yogurt Brothers!</h3>
<br>
<p>
<%= f.label :first_name %>
<%= f.text_field :first_name %>
</p>

<p>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</p>

<p>
  <%= f.label :email %>
  <%= f.email_field :email %>
</p>

<p>
  <%= f.submit "Sign Up" %>
</p>
<% end %>
