<!DOCTYPE html>
<html>
<head>
  <title>HeartBeat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if @user %>
          <li><%= image_tag @user.image, class: 'avatar' %></li>
          <% end %>

<%= yield %>

</body>
</html>
